<%- include('includes/head.ejs')  %> 
<%- include('includes/nav.ejs') %> 
<body>
    <div class="pt-4 d-flex justify-content-center">
        <%- include('includes/pie.ejs') %> 
    </div>
    <div class="d-flex pt-4 px-4 pb-0 min-vh-100 justify-content-center"> 
        <div class="d-flex flex-column">
            <% for(var i in name){ %>
                <div class="artists rounded mb-4 p-2 shadow-sm">
                    <table>
                        <tr>
                            <td class="d-flex align-items-center">
                                <div><%- name[i]%></div>
                            </td>
                            <td class="w-100"></td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <form class="col-sm-2" action="<%- uri[i]%>" target="_blank">
                                                <input class="btn" style="background-color: #8D68B1; color: white;"type="submit" value="APP " />
                                            </form>
                                        </td>
                                        <td>
                                            <form class="col-sm-2" action="<%- link[i]%>" target="_blank">
                                                <input class="btn" style="background-color: #8D68B1; color: white;"type="submit" value="BROWSER" />
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="rounded shadow-sm" src="<%- image[i] %> " alt="<%- name[i] %>'s PFP " width="100px" height="100px">
                            </td>   
                            <td colspan="3">
                                <div class="ps-4">
                                    <div class="cardContentHeader">Followers:</div>
                                    <div class="followers"><%-followers[i]%></div>
                                    <div class="cardContentHeader">POPULARITY:</div>
                                    <div><%-popularity[i]%></div>
                                    <div class="cardContentHeader">GENRES:</div>
                                    <div><%- artistGenres[i] %></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            <%  }%>
        </div>
    </div>
</body>
<%- include('includes/footer.ejs')  %> 